body {
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    color: #fff;
}

.navbar-larabel {
    background-color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
    color: #fff !important;
}

.nav-link {
    color: #fff !important;
}

.table-dark {
    color: #fff;
}

.list-group-item {
    border-color: #fff;
    background-color: #000;
}

.login-box {
    background-color: rgba(0, 0, 0, 0);
}

.login-header {
    background-color: rgba(0, 0, 0, 0.25);
}

.login-body {
    background-color: rgba(0, 0, 0, 0.25);
}

.form-group {
    margin-bottom: 1rem;
}

.list-group-item {
    color: #fff;
    border-color: #fff;
    background-color: #000;
}

.fixed-size {
    width: 150px;  /* 画像の幅と一致させる */
    height: 150px; /* 画像の高さと一致させる */
    object-fit: cover; /* 画像がある場合はサイズを調整する */
}

.empty-image-box {
    width: 150px;  /* 画像の幅と一致させる */
    height: 150px; /* 画像の高さと一致させる */
    background-color: #f0f0f0; /* 画像がない場合の背景色 */
}
